h1 Marionette UI
p Imagine a world where you wrote business logic, not event handlers. That's where Marionette UI will take you.

h2 Widgets
p Widgets are the core to MU. Widgets should have names that accurately reflect exactly what they do. So without further ado here are some of those glorious widgets.

ul.widgets
  li
    h3 Model View
    .model-view

  li
    h3 Editable Model View
    .editable-model-view

  li
    h3 Live input
    .live-input
