h1 Marionette UI
p Imagine a world where you wrote business logic, not event handlers. That's where Marionette UI will take you.

h2 Widgets
p Widgets are the core to MU. Widgets should have names that accurately reflect exactly what they do. So without further ado here are some of those glorious widgets.

p Most widgets are bound to collections. Unless otherwise mentioned they will auto update when the model/collection changes. So, go ahead and play around!

#page
script(id="page-template", type="text/template")
  ul.widgets
    li
      h3 Live input
      .live-input
      pre
        |  widgets:
        |    homeTown:
        |      selector: ".home-town-input"
        |      widget: 'ModelView'
        |      attribute: 'hometown' //the model attribute that the input is bound to
        |      liveUpdate: true //saves the model on keyup
        |      closeOnEnter: false //closes the view when a user presses enter
