@import '_settings'

normalize()
base()

body
  padding: 50px
  max-width 800px
  margin: 0 auto

.mu-capitalize
  text-transform capitalize

.mu-editable
  cursor: pointer
  text-decoration: underline

pre
  background: #f0f0f0
  padding: 12px
